<?xml version="1.0" encoding="utf-8"?>
<manifest package="br.com.andrefch.popularmoviesii"
          xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".ui.listmovie.ListMovieActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.detailmovie.DetailMovieActivity"
            android:label="@string/title_activity_detail_movie"
            android:parentActivityName=".ui.listmovie.ListMovieActivity"
            android:theme="@style/AppTheme.NoActionBar"
            tools:ignore="UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.andrefch.popularmoviesii.ui.listmovie.ListMovieActivity"/>
        </activity>

        <provider
            android:name=".data.repository.local.MovieContentProvider"
            android:authorities="@string/content_authority"
            android:exported="true"/>
    </application>

</manifest>